<script setup lang="ts">
import { useProductStore } from "@/stores/product";
const productStore = useProductStore();
</script>
<template>
  <v-dialog v-model="productStore.delDialog" persistent width="1024">
    <v-card>
      <v-title>
        <span class="text-h5">Delete Product</span>
      </v-title>
      <v-btn
        style="color: red"
        @Click="productStore.deleteProduct(productStore.delId)"
      >
        Yes
      </v-btn>
      <v-btn style="color: greenyellow" @Click="productStore.delDialog = false">
        No
      </v-btn>
    </v-card>
  </v-dialog>
</template>
