<script setup lang="ts">
import { useUserStore } from "@/stores/user";
const userStore = useUserStore();
</script>
<template>
  <v-dialog v-model="userStore.delDialog" persistent width="1024">
    <v-card>
      <v-title>
        <span class="text-h5">Delete User</span>
      </v-title>
      <v-btn style="color: red" @Click="userStore.deleteUser(userStore.delId)">
        Yes
      </v-btn>
      <v-btn style="color: greenyellow" @Click="userStore.delDialog = false">
        No
      </v-btn>
    </v-card>
  </v-dialog>
</template>
