<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import DelUserDialog from "./DelUserDialog.vue";
import UserDialog from "./UserDialog.vue";
const userStore = useUserStore();
onMounted(async () => {
  await userStore.getUser();
});
</script>
<template>
  <UserDialog></UserDialog>
  <DelUserDialog></DelUserDialog>
  <v-btn @Click="userStore.dialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Name</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.users" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.login }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.password }}</td>
        <td>
          <v-btn class="mr-5" @click="userStore.editUser(item)">Edit</v-btn
          ><v-btn
            @Click="(userStore.delDialog = true), (userStore.delId = item.id)"
            >Delete</v-btn
          >
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
